{% extends 'base.html.twig' %}

{% block title %}Hello IdentificationController!{% endblock %}

{% block body %}


<div class="mt-5 text-center">
    <h1>{{ controller_name }}</h1>
</div>
    <div class=" bg-primary col-md-4 text-center m-4 p-2 mx-auto">
        <a href="#" class="text-decoration-none text-reset"><h1>Zone Prof</h1></a>
    </div>

    <div class=" bg-success col-md-4 text-center m-4 p-2 mx-auto">
        <a href="#" class="text-decoration-none text-reset"><h1>Zone Eleve</h1></a>
    </div>



{% endblock %}
